<?php

namespace App\Controller;

interface InterfaceController{
    public function list();
    public function show(int $id);
    public function create(array $parameters): void;
    public function update(array $parameters): void;
    public function remove(): void;
}