RewriteEngine On
RewriteBase /
RewriteRule ^(.*)$ public/index.php?route=$1 [L,QSA]

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type"
</IfModule>