<?php

namespace App\Controllers;

class {{CLASS_NAME}} extends Controller
{
    public function __construct()
    {
        parent::__construct(Entity::class);
    }

    public function list()
    {
        
    }

    public function create()
    {
        
    }

    public function store()
    {
        
    }

    public function edit()
    {
        
    }

    public function update()
    {
        
    }

    public function delete()
    {
        
    }
}
